#navbar{
    height: calc(100vh - 64px);
    width: 150px;
    background-color: #1f1fa0;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
  
}

.logo{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4em;
}

.links a{
    text-decoration: none;
    color: white;
    margin-bottom: 12px;
}

.profile-img{
    padding: 2px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img img{
    height: 75px;
    border-radius: 100%;
}

@media (max-width: 1100px) {
    #navbar {
        flex-direction: row;
        width: inherit;
        height: 20px;
    }
    .navRow {
        display: flex;
        align-items: center;
        width: 90%;
    }
    .logo {
        align-items: center;
        margin: 0;
        margin-left: 8px;
    }
    .logo img {
        width: 40px;
        height: 50px;
    }
    .links {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .links a {
        margin: 0;
    }
    .profile-img {
        width: 10%;
        margin-right: 8px;
    }
    .profile-img img {
        height: 45px;
    }
}