#navbar {
    height: calc(100vh - 64px);
    width: 150px;
    background-color: #1f1fa0;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    position: relative;
    z-index: 6;
}

body {
    margin: 0;
}

.d-none {
    display: none !important;
}

.logo {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4em;
}

.links a {
    text-decoration: none;
    color: white;
    margin-bottom: 12px;
    padding-left: 20px;
}

/* .profile-img{
    padding: 2px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.profile-img img {
    height: 75px;
    border-radius: 100%;
    border: 3px solid white;
}

.hamburgerIcon {
    font-size: 50px;
    color: #e5e5e5;
    display: none;
    cursor: pointer;
    z-index: 6;
}

.dropDownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 200px;
    top: 84px;
    background-color: #1f1fa0;
    padding: 8px;
    transition: transform 225ms ease-in-out;
    box-shadow: -3px 5px 6px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.dropDownMenu a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

@media (max-width: 1100px) {
    #navbar {
        flex-direction: row;
        width: inherit;
        height: 20px;
    }
    .navRow {
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 6;
    }
    .logo {
        align-items: center;
        margin: 0;
        margin-left: 8px;
    }
    .logo img {
        width: 40px;
        height: 50px;
    }
    .links {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .links a {
        margin: 0;
    }
    .profile-img {
        margin-right: 8px;
    }
    .profile-img img {
        height: 45px;
    }
}

@media (max-width: 500px) {
    .links {
        display: none;
    }

    #navbar {
        padding: 32px 15px;
    }
    .hamburgerIcon {
        display: unset;
    }
    .dropDownMenu {
        display: flex !important;
    }
}