body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    display: flex;
}
h1{
    font-size: 1.7em;
    margin-bottom: 0;
}

.main-div{
    padding: 20px;
    width: 930px;
}

.subline{
    font-size: 0.8em;
    font-weight: bold;
    color: #1f1fa0;
}

.add-task{
    padding: 30px;
    background-color: #3e5d940f;
    border-radius: 10px;
    margin-top: 30px;
}

.add-task label{
    font-weight: bold;
    color: #1f1fa0;
}

.input-row{
    display: flex;
    justify-content: space-between;
}

.middle-row{
    margin: 25px 0;
}

input{
    border: none;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 0 10px;
}

input:focus{
    outline: none;   
}

.input-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border: 1px solid #80808066;
    border-radius: 5px;
    background-color: white;
    width: 390px;
}

#description{
    border: none;
    width: 100%;
    outline: none;
    font-size: 1.2em;
    resize: none;
    padding: 10px;
    border-radius: 5px;
}

.finalize-task{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 390px;
    margin-top: 15px;
    height: 167px;
}

#assigned_imgs{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.img-div{
    width: 72px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #80808066;
}

.calender{
    width: 32px;
}

.arrow-down{
    width: 25px;
    height: 15px;
}

.person-assigned{
    height: 65px;
    border-radius: 100%;
}

.add-person{
    padding: 7px;
    border-radius: 100%;
    margin-left: 10px;
    background-color: #80808040;
}

.crs-pointer:hover{
    cursor: pointer;
}

.btns{
    display: flex;
    justify-content: flex-end;
}
#create_btn{
    color: white;
    background-color: #1f1fa0;
    padding: 20px 20px;
    font-weight: 700;
    font-size: 1.1em;
    border: none;
    border-radius: 15px;
}

#cancel_btn{
    color: #1f1fa0;
    padding: 0 10px;
    margin-right: 45px;
    font-weight: 700;
    font-size: 1.1em;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.dropdown{
    box-shadow: 0px 0px 6px 1px #8080805e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 4px solid #1f1fa0;
    position: absolute;
    width: 392px;
}

.options{
    background-color: white;
    padding: 10px 10px;
    font-size: 1.2em;
}

.options:hover{
    background-color: #1f1fa0;
    color: white;
    cursor: pointer;
}

.bottom-element{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
}

.d-none{
    display: none;
}

.input-radius{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
}
