body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    display: flex;
}

h1{
    font-size: 1.7em;
    margin-bottom: 0;
}

.main-div{
    padding: 20px;
}

.subline{
    font-size: 0.8em;
    font-weight: bold;
    color: #1f1fa0;
}