body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    display: flex;
}

h1 {
    font-size: 1.7em;
    margin-bottom: 0;
}

.main-div {
    padding: 20px;
    width: 930px;
    margin-left: 150px;
}

.subline {
    font-size: 0.8em;
    font-weight: bold;
    color: #1f1fa0;
}

.add-task {
    padding: 30px;
    background-color: #3e5d940f;
    border-radius: 10px;
    margin-top: 30px;
}

.add-task label {
    font-weight: bold;
    color: #1f1fa0;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.middle-row {
    margin: 25px 0;
}

input {
    border: none;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 0 10px;
}

input:focus {
    outline: none;
}

.input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border: 1px solid #80808066;
    border-radius: 5px;
    background-color: white;
    width: 390px;
}

#description {
    border: none;
    width: 100%;
    outline: none;
    font-size: 1.2em;
    resize: none;
    padding: 10px;
    border-radius: 5px;
}

.finalize-task {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 390px;
    margin-top: 15px;
    height: 167px;
}

.user-wrapper {
    display: flex;
    align-items: center;
    height: 65px;
}

.add-user {
    display: flex;
    /* position: relative; */
    margin-bottom: 15px;
    align-items: center;
    height: 70px;
}

#assigned_users {
    display: flex;
    max-width: 300px;
    overflow: auto;
}

#assigned_users img {
    margin-right: 10px;
}

.img-div {
    width: 72px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #80808066;
}

.calender {
    width: 32px;
}

.arrow-down {
    width: 25px;
    height: 15px;
}

.person-assigned {
    height: 65px;
    border-radius: 100%;
}

.add-person {
    padding: 7px;
    border-radius: 100%;
    background-color: #80808040;
}

.assign-user {
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 21%;
    left: 29%;
    box-shadow: 0px 0px 6px 1px #8080805e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 78vh;
    height: 60vh;
    z-index: 2;
    /* max-height: 145; */
    /* overflow-y: scroll; */
    /* display: flex; */
    border-radius: 5px;
}

.ps-absolute {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.assign-user:hover {
    cursor: default;
}

.assign-user img {
    margin: 5px 5px 0 5px;
}

.assign-user img:hover {
    cursor: pointer;
}

.crs-pointer:hover {
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: flex-end;
}

#create_btn {
    color: white;
    background-color: #1f1fa0;
    padding: 20px 20px;
    font-weight: 700;
    font-size: 1.1em;
    border: none;
    border-radius: 15px;
}

#create_btn:hover {
    filter: brightness(1.3);
}

#cancel_btn {
    color: #1f1fa0;
    padding: 0 10px;
    margin-right: 45px;
    font-weight: 700;
    font-size: 1.1em;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.dropdown {
    box-shadow: 0px 0px 6px 1px #8080805e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 4px solid #1f1fa0;
    position: absolute;
    width: 392px;
    z-index: 2;
}

.options {
    background-color: white;
    padding: 10px 10px;
    font-size: 1.2em;
}

.options:hover {
    background-color: #1f1fa0;
    color: white;
    cursor: pointer;
}

.bottom-element {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
}

.display-none {
    display: none;
}

.input-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.tooltip {
    display: none;
}

::-webkit-scrollbar {
    height: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    /* display: none; */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 2px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    /* display: block; */
}

.relative {
    position: fixed;
}

#snackbar_created {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #1f1fa0;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 99;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    top: 30px;
    /* 30px from the bottom */
}

#snackbar_user {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #1f1fa0;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 99;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    top: 30px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar_created.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar_user.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@media(max-width: 1100px) {
    .main-div {
        margin-top: 80px;
        margin-left: 0;
    }
    .assign-user {
        width: 472px;
        height: 40vh;
    }
    #snackbar_user {
        top: 114px;
    }
    #snackbar_created {
        top: 114px;
    }
    @-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 114px;
            opacity: 1;
        }
    }
    @keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 114px;
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeout {
        from {
            top: 114px;
            opacity: 1;
        }
        to {
            top: 0;
            opacity: 0;
        }
    }
    @keyframes fadeout {
        from {
            top: 114px;
            opacity: 1;
        }
        to {
            top: 0;
            opacity: 0;
        }
    }
}

@media(max-width: 900px) {
    .add-task {
        padding: 30px;
        background-color: #3e5d940f;
        border-radius: 10px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .assign-user {
        top: 60%;
        left: 15%;
        position: absolute;
    }
    .input-row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .middle-row {
        margin: 0;
    }
    .input-div {
        margin-top: 20px;
    }
    .add-user {
        margin-bottom: 25px;
    }
    .btns {
        justify-content: center;
    }
}

@media(max-width: 650px) {
    .assign-user {
        left: 8%;
        width: 393px;
    }
}

@media(max-width: 500px) {
    .assign-user {
        left: 12%;
        width: 250px;
        height: unset;
    }
    .input-field {
        width: 250px;
    }
    .finalize-task {
        width: 250px;
    }
    .dropdown {
        width: 250px;
    }
}

@media(max-width: 370px) {
    #snackbar_user {
        min-width: 200px;
    }
    #snackbar_created {
        min-width: 200px;
    }
    .assign-user {
        left: 8%;
        width: 234px;
    }
    .input-field {
        width: 200px;
    }
    .finalize-task {
        width: 200px;
    }
    .dropdown {
        width: 200px;
    }
}